

html, body {
  margin: 0;
  padding: 0;
  background-color: #ECF0F1; 
  font-family: 'Montserrat', sans-serif; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #2C3E50; 
  padding: 20px;
  color: #FFFFFF;
  text-align: center;
}

.App-header h1 {
  font-family: 'Quicksand', sans-serif;  
  font-weight: 700;                     
  font-size: 3.6rem;                    
  margin: 0;
  letter-spacing: 1px;                 
}